<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <diagnostics performanceCounters="All" />
    <services>
      <service name="HostingManagmentSystem.RESTfulWCF.Services.MetricsService" behaviorConfiguration="MetricsBehavior">

        <!--Address attribute specifies the name of the MSMQ Queue.-->
        <endpoint name="metrics" address="MetricsQ" binding="netMsmqBinding"
                                                                          bindingConfiguration="myMSMQ" contract="HostingManagmentSystem.RESTfulWCF.Services.IMetricsService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.msmq://localhost/private/"/>
            <add baseAddress="http://localhost:6666"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netMsmqBinding>
        <binding name="myMSMQ" exactlyOnce="false" >
          <security mode="None"/>
        </binding>
      </netMsmqBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MetricsBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>